#work {
    flex: 1;
    width: 100%;
    flex-direction: row;
    background-color: var(--blue);
}
#work h1 {
    margin: 0;
}

.work-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;
}

.work-filter .work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--grey);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
}

.work-filter .work-filter-item:hover:not(.active-item) {
    background-color: var(--transparent-green);
    color: var(--dark-blue);
    box-shadow: 0 0 20px var(--transparent-green);
}

@media screen and (min-width: 2000px) {
    .work-filter .work-filter-item {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
    }
}
.work-filter-item.active-item {
    transform: translateY(-7px);

    background-color: var(--green);
    color: var(--dark-blue);
    box-shadow: 0 0 20px var(--transparent-green);
}

.work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.work-portfolio .work-item {
    width: 270px;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--dark-blue);
    color: var(--grey);
    transition: all 0.3s ease;
}

@media screen and (min-width: 700px) {
    .work-portfolio .work-item {
        width: 400px;
        padding: 1.25rem;
    }
}

@media screen and (min-width: 2000px) {
    .work-portfolio .work-item {
        width: 470px;
        padding: 1.25rem;
        border-radius: 0.75rem;
    }
}
@media screen and (max-width: 300px) {
    .work-portfolio .work-item {
        width: 100%;
        margin: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .work-portfolio .work-item {
        margin: 2rem 1rem;
    }
    .work-filter {
        margin: 2rem 1.5rem;
    }
}

.work-portfolio .work-item:has(.work-image:hover) {
    transform: translateY(-6px);
    box-shadow: 0 0 25px var(--transparent-green);
    border: 1px solid var(--transparent-green);
}

.work-portfolio .work-item:has(.work-image:hover) .bold-text.head-text {
    color: var(--green);
}
.work-image {
    width: 100%;
    height: 230px;
    position: relative;
}
.work-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    object-fit: cover;
}

@media screen and (min-width: 2000px) {
    .work-image {
        height: 350px;
    }
}
@media screen and (min-width: 650px) {
    .head-text.work-title {
        font-size: 2.5rem;
    }
}

.work-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-green);
    border-radius: 0.25rem;
    opacity: 0;
    transition: all 0.3s ease;
}
.work-hover div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    margin: 1rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}
.work-hover div svg {
    width: 50%;
    height: 50%;
}

.work-content {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.work-content h4 {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.work-content .work-tag {
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--dark-blue);
    top: -25px;
}

.work-content .p-text {
    align-self: flex-start;
}
